<h2>Please specify the candidate you would like to vote for</h2>

<table class="pure-table pure-table-horizontal fullwidth-table">
  <tr>
    <th>Candidate name</th>
    <th>Votes</th>
    <th></th>
  </tr>
  <tbody>
    {{#each candidates}}
    <tr>
      <td>{{name}}</td>
      <td>{{votes}}</td>
      <td>
        <form method="POST" action="/vote">
          <input type="hidden" value="{{id}}" name="candidateId" />
          <input type="submit" value="Vote" />
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>

<h2>Comments</h2>
<div>
  {{#each comments}}
  <div>
    <small>Author: {{author}}</small>
    <p>{{comment}}</p>
  </div>
  {{/each}}
</div>

<form class="pure-form pure-form-stacked" method="POST" action="/add-comment">
  <fieldset>
    <legend>Add comment</legend>
    <label for="comment">Username</label>
    <textarea name="comment"></textarea>
    <input type="hidden" name="userId" value="{{loggedInUser}}"/>
    <input type="submit" class="pure-button pure-button-primary" value="Submit comment"/>
  </fieldset>
</form>

