<section>
  <h2>Please specify the candidate you would like to vote for</h2>
  <figure>
    <table role="grid">
      <thead>
        <th scope="col">Candidate name</th>
        <th scope="col">Votes</th>
        <th scope="col"></th>
      </thead>
      <tbody>
        {{#each candidates}}
        <tr>
          <td>{{name}}</td>
          <td>{{votes}}</td>
          <td>
            <form method="POST" action="/vote">
              <input type="hidden" value="{{id}}" name="candidateId" />
              <input type="submit" value="Vote" />
            </form>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </figure>
</section>

<section>
  <h2>Comments</h2>
  <div>
  {{#each comments}}
    <div>
      <h4>Author: {{author}}</h4>
      <p>{{{comment}}}</p>
    </div>
  {{/each}}
  </div>

  <form method="POST" action="/add-comment">
    <fieldset>
      <caption>Add comment</caption>
      <label for="comment">Comment</label>
      <textarea name="comment"></textarea>
      <input type="hidden" name="userId" value="{{loggedInUser}}"/>
      <input type="submit" class="pure-button pure-button-primary" value="Submit comment"/>
    </fieldset>
  </form>
</section>
